<h1>Listing <%%= <%= "#{model_class_name}.human_name" %> %></h1>

<table>
	<thead>
		<tr>
			<th><%%= sort_link @search, :id %></th>
			<%- for attribute in attributes -%>
			<th><%%= sort_link @search, :<%= attribute.name %> %></th>
			<%- end -%>
			<th>Actions</th>
		</tr>
	</thead>
	
	<%% <%= "@#{plural_model_name}" %>.each do |<%= singular_model_name %>| %>
	<tr>
		<td><%%= <%= singular_model_name %>.id %></td>
		<%- for attribute in attributes -%>
		<td><%%=<%= "l" if %w[date datetime time].include?(attribute.type.to_s) %> <%= singular_model_name %>.<%= attribute.name %> %></td>
		<%- end -%>
		<td>
			<%%= link_to 'Edit', edit_<%= resource_path_prefix %>_path(<%= singular_model_name %>) %>
			<%%= link_to 'Destroy', <%= resource_path_prefix %>_path(<%= singular_model_name %>), :confirm => 'Are you sure?', :method => :delete %>
		</td>
	</tr>
	<%% end %>
</table>

<%%= paginate <%= "@#{plural_model_name}" %> %>

<div class="actions">
	<%%= link_to 'New <%= human_name %>', new_<%= resource_path_prefix %>_path %>
</div>